<section class="d-flex align-items-center justify-content-center bg-white vh-100 overflow-hidden">
  <div class="position-absolute top-0 start-0 w-100 h-100 opacity-25 pointer-events-none">
    <div class="bg-blob-1"></div>
    <div class="bg-blob-2"></div>
  </div>

  <div class="container text-center position-relative z-1">
    <p class="text-uppercase tracking-widest text-primary fw-bold mb-3 reveal-text-1">
      Now Available for New Opportunities
    </p>
    
    <h1 class="display-1 fw-extra-bold text-dark mb-4 reveal-text-2">
      I'm <span class="text-primary underline-grow">Jeffry Rubaya</span>
    </h1>

    <div class="reveal-text-3 mb-5">
      <h2 class="h3 text-secondary fw-light mx-auto" style="max-width: 700px;">
        Engineering high-performance <strong>Angular</strong> applications with a 
        <strong>DevOps</strong>-first mindset.
      </h2>
    </div>

    <div class="d-flex justify-content-center gap-3 reveal-text-4">
      <button appRipple class="btn btn-primary btn-lg px-5 rounded-pill shadow-lg hover-scale" routerLink="/" fragment="projects">
        Explore Projects
      </button>
      <button appRipple class="btn btn-outline-dark btn-lg px-5 rounded-pill hover-scale" >
        Get In Touch
      </button>
    </div>
  </div>

  <div class="position-absolute bottom-0 mb-4 animate-bounce">
    <i class="bi bi-chevron-down h3 text-muted"></i>
  </div>
</section>